<h1>Currency Converter</h1>

<form action="/convert">
    <label for="dollars">Amount of dollars</label>
    <input type="number" step="any" name="dollars" id="dollars" required>

    <br>

    <label for="to_currency">Convert to</label>
    <select name="to_currency" id="to_currency">
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
    </select>

    <br>

    <button type="submit">Convert</button>

</form>
