<!DOCTYPE html>
<html>
  <head>
    <title>Currency Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  <hr>
  <p><a href="/">Home</a>
  <a href="/about">About this site</a></p>
  </body>
</html>
